
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.game-info{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}
.game-info .from span{
    color: rgb(193, 13, 13);
    font-weight: bold;
}
.words-type{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    font-weight: 600;
    padding: 10px;
    margin-bottom: 10px;
}
.words-type div{
    min-width: 100px;
    padding: 6px 10px;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 0 5px 1px rgb(213, 213, 213);
    cursor: pointer;
}
.words-type div:hover {
    animation: wiggle 2s linear infinite;
}
.words-type .programming{
    background-color: #edafb8;
}
.words-type .people{
    background-color: #f7e1d7;
}
.words-type .movies{
    background-color: #dedbd2;
}
.words-type .countries{
    background-color: #b0c4b1;
}
.main-div{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
}
.main-div-dis{
    opacity: .4;
}
.hangman-draw, .letters{
  flex: 1;
  background-color: #F8F8F8;
  padding: 20px;
  height: 324px;
}
.hangman-draw .draw{
  width: 60px;
  height: 280px;
  border-bottom: 4px solid #222;
  position: relative;
  margin: auto;
  left: -60px; 
  display: none;
}
.hangman-draw .draw .the-stand{
  width: 4px;
  height: 100%;
  background-color: #222;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  display: none;
}
.hangman-draw .draw .the-hang{
  width: 120px;
  height: 4px;
  background-color: #222;
  position: absolute;
  left: 30px;
  top: 20px;
  display: none;
}
.hangman-draw .draw .the-rope{
  width: 4px;
  height: 30px;
  background-color: #222;
  position: relative;
  left: 150px;
  top: 20px;
  display: none;
}
.hangman-draw .draw .the-rope::before {
  content: "";
  position: absolute;
  width: 66px;
  height: 66px;
  left: -33px;
  top: 26px;
  border: 4px dashed #222;
  border-radius: 50%;
}
.hangman-draw .draw .the-man {
width: 20px;
  height: calc(100% - 50px);
  position: relative;
  top: 20px;
  left: 140px;
}
.hangman-draw .draw .the-man .head{
  width: 56px;
  height: 56px;
  border: 4px solid #222;
  position: absolute;
  border-radius: 50%;
  left: -14px;
  top: 5px;
  display: none;
}
.hangman-draw .draw .the-man .body{
  width: 4px;
  height: 100px;
  position: absolute;
  top: 58px;
  left:50% ;
  transform: translateX((-50%));
  background-color: #222;
  display: none;
}
.hangman-draw .draw .the-man .hands{
  display: none;
}
.hangman-draw .draw .the-man .hands::before{
  content: "";
  width: 3px;
  height: 50px;
  position: absolute;
  top: 60px;
  left: 170%;
  transform: translateX(-50%) rotate(57deg);
  background-color: #222;
}
.hangman-draw .draw .the-man .hands::after {
  content: "";
  width: 3px;
  height: 50px;
  position: absolute;
  top: 60px;
  left: -10px;
  transform: translateX(-50%) rotate(-57deg);
  background-color: #222;
}
.hangman-draw .draw .the-man .legs{
  display: none;
}
.hangman-draw .draw .the-man .legs::before{
  content: "";
  width: 3px;
  height: 50px;
  position: absolute;
  bottom: 31px;
  left: 170%;
  transform: translateX(-50%) rotate(122deg);
  background-color: #222;
}
.hangman-draw .draw .the-man .legs::after {
  content: "";
  width: 3px;
  height: 50px;
  position: absolute;
  bottom: 31px;
  left: -10px;
  transform: translateX(-50%) rotate(-122deg);
  background-color: #222;
}
.hangman-draw.wrong-1 .draw{
  display: block;
}
.hangman-draw.wrong-2 .draw .the-stand{
  display: block;
}
.hangman-draw.wrong-3 .draw .the-hang{
  display: block;
}
.hangman-draw.wrong-4 .draw .the-rope{
  display: block;
}
.hangman-draw.wrong-5 .draw .the-man .head{
  display: block;
}
.hangman-draw.wrong-6 .draw .the-man .body{
  display: block;
}
.hangman-draw.wrong-7 .draw .the-man .hands{
  display: block;
}
.hangman-draw.wrong-7 .draw .the-man .legs{
  display: block;
}

@media (max-width: 1199px) {
    .main-div {
      grid-template-columns: repeat(auto-fill, minmax(430px, 1fr));
    }
}
@media (max-width: 600px) {
    .main-div {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}
.letters{
  background-color: white;
  height: fit-content;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  align-content: flex-start;
}
.letters .letter{
  background-color: #2ec4b6;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 900;
  font-size: 20px;
  cursor: pointer;
  transition: .3s;
  box-shadow: rgb(204 204 204) 0px 0px 5px 1px;
  border-radius: 6px;
}
.letters .clicked {
  background-color: #222;
  opacity: .2;
  pointer-events: none;
}
.letters .letter:hover {
  background-color: #22897f;
  font-size: 22px;
}
@media (max-width: 600px) {
  .letters .letter {
    width: 40px;
    height: 40px;
  }
}

.word{
  background-color: #eee;
  padding: 20px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
} 
.word .before-select{
  font-weight: 600;
  font-size: 20px;
  animation: up-down 1s ease infinite ;
}
.word .word-type {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -1px;
}
.word .random-word{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  width: fit-content;
  justify-content: center;
}
.word .random-word span{
  content: attr(the-letter);
  width: 35px;
  height: 35px;
  border-bottom: 2px solid black;
  background-color: #4bcaba42;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  font-size: 18px;
  font-weight: 600;
}

@media (max-width: 600px) {
  .word {
    flex-direction: column;
  }
  .word .random-word span {
    width: 30px;
    height: 30px;
  }
}

.popup {
  position: fixed;
  background-color: #009688;
  padding: 100px 20px;
  width: 40%;
  top: 10%;
  left: 30%;
  text-align: center;
  font-size: 40px;
  border: 1px solid #CCC;
  color: #FFF;
}

@keyframes wiggle {

    0%,
    7% {
        transform: rotateZ(0);
    }

    15% {
        transform: rotateZ(-15deg);
    }

    20% {
        transform: rotateZ(10deg);
    }

    25% {
        transform: rotateZ(-10deg);
    }

    30% {
        transform: rotateZ(6deg);
    }

    35% {
        transform: rotateZ(-4deg);
    }

    40%,
    100% {
        transform: rotateZ(0);
    }
}
@keyframes up-down {
  0%, 100%{
    box-shadow: none;
  }
  50%{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 22px;
  }
}